@import './Components/Colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-image: radial-gradient($prpl, $og);
  color: white;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Play', sans-serif;
  font-weight: 600;
  margin-top: 10px;
}

.main_wrapper {
  height: 550px;
  width: 380px;
  background-color: rgb(54, 27, 87);
  margin: 40px auto 0 auto;
  padding: 10px;
  border: 12px solid rgb(87, 12, 179);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(54, 27, 87);
  display: grid;
  justify-content: center;

  .score_time_wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    font-size: 1.5em;

    .time_wrapper {
      text-align: end;
    }

    .controls {
      justify-self: center;

      .pause,
      .play {
        margin: 0 10px;
        cursor: pointer;
      }

      .play {
        font-size: 0.9em;
      }

      .pause:hover,
      .play:hover {
        // color: rgb(194, 193, 192);
        color: rgb(245, 78, 228);
      }
    }
  }
}

.start_play {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .fa-start-wrapper {
    height: 200px;
    width: 250px;
    margin: 150px auto;
    text-align: center;

    .play_p {
      font-size: 3em;
      margin-bottom: 15px;
      font-family: 'Play', sans-serif;
    }

    .fa-start {
      font-size: 6em;
      margin: 0 auto;
    }

    .fa-start:hover {
      color: green;
    }
  }
}

.display_wrapper {
  height: 150px;
  width: 320px;
  margin: 20px auto 10px auto;
  background-image: linear-gradient(#222, #222),
    linear-gradient(to right, rgb(34, 227, 224), rgb(38, 181, 252));
  background-origin: padding-box, border-box;
  background-repeat: no-repeat;
  border: 5px solid transparent;
  display: grid;
  align-items: center;
  color: white;

  .fa-check {
    color: lightgreen;
    font-size: 2em;
    margin: 0 auto;
  }

  .invalid {
    display: grid;
    justify-content: center;
    align-self: flex-start;
    margin-top: 8px;
    opacity: 0;
  }

  .display {
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 1.8px;
  }
}

.validity_display {
  animation: fadeInOut ease 3s;
}

// fade animation
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.letter_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2px;
  height: 100px;
  width: 340px;
  margin: 40px auto;

  .letter_container {
    height: 60px;
    width: 50px;
    border: 1px solid green;
    border-radius: 2px;
    background-color: $yellowGr;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .letter {
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    color: black;
    margin: 0 20px;
  }
  .letter_container:hover {
    background-color: $dkYellowGr;
  }
}

.no_display {
  display: none;
}

.button_wrapper {
  display: flex;
  justify-content: flex-end;

  button {
    color: white;
    text-transform: uppercase;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    margin: 20px 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(242, 7, 219);
    cursor: pointer;
    background-color: rgb(211, 39, 245);
  }

  button:hover {
    background-color: rgb(165, 87, 181);
  }
}

.help_wrapper {
  color: black;
  width: 100%;
  background-color: blue;

  .fa-q {
    font-size: 2em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .fa-q:hover,
  .fa-thumb:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  .help_modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    .modal_content {
      background-color: #fefefe;
      margin: 25% auto;
      padding: 30px;
      border: 1px solid #888;
      width: 50%;
      position: relative;

      .fa-thumb {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 1.2em;
      }
    }
  }
}

.fa-arrow {
  color: white;
  font-size: 2em;
  cursor: pointer;
}

.fa-arrow:hover {
  color: grey;
}

.game_over_modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  .game_over_content {
    background-color: #fefefe;
    margin: 25% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 50%;
    position: relative;

    .game_over_p {
      font-family: 'Play', sans-serif;
    }
  }
}

@media (min-width: 1300px) {
  .main_wrapper {
    width: 500px;
    height: 650px;
  }

  .display_wrapper {
    height: 200px;
    width: 375px;
  }

  .letter_wrapper {
    height: 125px;
    width: 370px;

    .letter_container {
      height: 70px;
      width: 60px;
    }
  }
}
