$og: #fd7d35;
$prpl: #bc19b5;
$yellowGr: rgb(149, 198, 35);
$dkYellowGr: rgba(149, 198, 35, 0.7);
$saffron: rgb(227, 181, 5);
$pink: rgb(247, 86, 124);
$tan: rgb(244, 213, 141);
$burntOg: rgb(244, 96, 54);
